In [11]:
import numpy as np
import pandas as pd
from collections import Counter
from crawl_utils.url_extractor import *
from crawl_utils.table_parser import *
from crawl_utils.html_request import *
from crawl_utils.create_table import *
from crawl_utils.html_parser import *

In [12]:
HSPT_URL = pd.read_csv('HSPT_URL.csv')
HSPT_CHILDREN_URL = pd.read_csv('HSPT_CHILDREN_URL_depth_1.csv')

In [3]:
visited = set(HSPT_CHILDREN_URL.url)

In [4]:
NON_PAYMENT = select_sub_page_by_query(HSPT_CHILDREN_URL, '비급여')

In [5]:
NON_PAYMENT.hspt_name

159                연세사랑병원
176                연세건우병원
445                바른세상병원
619      의료법인나누리의료재단나누리병원
651               나누리수원병원
               ...
11969               한사랑병원
11991              서울우리병원
12012              여수한국병원
12157               척사랑병원
12176         세연마취통증의학과의원
Name: hspt_name, Length: 160, dtype: object

In [6]:
for idx, _ in select_sub_page_by_hspt_name(NON_PAYMENT, '베드로').iterrows():
    print(_.url)

http://www.goodspine.org/content/content.asp?FolderName=community&fileName=community_08
http://www.stpeters.co.kr/content/content.asp?FolderName=community&fileName=community_08

In [7]:
table_list = {}
no_table = set([])
error = set([])
for idx, row in NON_PAYMENT.iterrows():
    try:
        table = table_parsing(row.url)
        if table:
            table_list["{}/{}".format(row.hspt_name, row.text)] = table
        else:
            no_table.update([row.hspt_name])
    except Exception as e:
        print(row.url, e)

404
Not Found
{'Date': 'Thu, 12 Mar 2020 07:53:18 GMT', 'Server': 'Apache/2.2.3 (CentOS)', 'Content-Length': '313', 'Connection': 'close', 'Content-Type': 'text/html; charset=iso-8859-1'}
https://www.sehunghospital.co.kr/sub/treatment/treat05.html?menu=5
http://www.scwoori.com/sub03/sub0306.php invalid literal for int() with base 10: '82 width='
3

In [8]:
len(set(HSPT_URL.hspt_name))

240

In [9]:
len(set(HSPT_CHILDREN_URL.hspt_name).difference(set(NON_PAYMENT.hspt_name)))

63

In [10]:
len(set(NON_PAYMENT.hspt_name))

144

In [ ]:
len(set(_.split('/')[0] for _ in table_list.keys()))

In [ ]:
len(table_list), len([key for key, value in table_list.items() if value])

In [8]:
column = ['분류', '구분', '명칭', '코드', '비용', '특이사항', '최저비용', '약제비포함여부', '치료재료대포함여부', '최고비용',
         '중분류', '소분류']
change_column = {c:c for c in column}

counter = Counter([c for table in table_list.values() for t in table for c in t.columns]).most_common()
column = {'최대':'최고비용','최저': '최저비용', '최고':'최고비용', '최소':'최저비용', 
          '비고':'특이사항',  '기타':'특이사항', '단위' : '특이사항',
          '단가': '비용', '금액':'비용', '가격':'비용', '(원)':'비용',
          '수가명칭':'명칭', '내용':'명칭', '비급여명':'명칭', '처방명':'명칭', 
          '항목':'명칭', '품목':'명칭', '수가명':'명칭', '명':'명칭', '품명':'명칭', '기본항목':'명칭',
          '수가':'비용', '일반수가':'비용',
          '약제':'약제비포함여부', '약재':'약제비포함여부', 
          '치료재료':'치료재료대포함여부', '치료대':'치료재료대포함여부', }
change_column.update(column)

for c, v in counter:
    c = str(c)
    for col in column:
        if len(c) == 1 or len(col) == 1:
            continue
        if c in col:
            if c =="":
                continue
            change_column[c] = column[col]
        if col in c:
            change_column[c] = column[col]

change_column = dict(filter(lambda e: len(e[0]) < 10 and len(e[0]) > 1, change_column.items()))

In [9]:
change_column['제증명 내역'] = '명칭'
change_column['기본항목'] = '명칭'
change_column['분류/명칭'] = '명칭'
change_column['수가명'] = '명칭'
change_column['상세 분류'] = '명칭'
change_column['세부항목'] = '명칭'
change_column['수가코드'] = '특이사항'
change_column['수가명칭(한글)'] = '명칭'
change_column['최저부가비율'] = '특이사항'
change_column['최고가비율'] = '특이사항'
change_column['비급여가(원)'] = '비용'
change_column['단위'] = '특이사항'

In [10]:
gubun = ['제증명료 구분','상급병실료 구분','식대료 구분','이송료 구분','주사료 구분','처치수술료 구분', '처치수술료 구분', '약제료 구분']
for gub in gubun:
    change_column[gub] = '명칭'

In [11]:
def rename_column(table, change_column):
    table.columns = list(map(query_re, table.columns))
    change_dict = \
    dict(filter(lambda f: f[0] in list(filter(lambda e: e in change_column, table.columns)), 
                change_column.items()))
    table = table.rename(columns = change_dict)
    return table

In [12]:
def filter_column(table, change_column):
    return table[set(filter(lambda e: e in change_column, table.columns))]

In [13]:
def change_duplicate_column(cols):
    new_col = []
    i = 0
    dups = list(filter(lambda e: e[1]>1, Counter(cols).items()))
    dups = [_[0] for _ in dups]
    for _ in cols:
        if _ in dups:
            if not i:
                new_col += [_]
                i += 1
            else:
                new_col += ['중복컬럼_{}'.format(i)]
                i += 1
        else:
            new_col += [_]
    return new_col

In [15]:
null_hspt_list = set([])
filtered_df_list = []
for hspt, tables in table_list.items():
    for table in tables:
        filtered_df = filter_column(rename_column(table, change_column), change_column)
        filtered_df.columns = change_duplicate_column(filtered_df.columns)
        filtered_df = filtered_df.apply(lambda e: [str(_).strip() for _ in e])
        if not filtered_df.empty:
            filtered_df['병원명'] = hspt.split('/')[0]
            filtered_df_list += [filtered_df]
        else:
            null_hspt_list.update([hspt.split('/')[0]])

In [16]:
len(set(null_hspt_list))

42

In [17]:
for _ in filtered_df_list:
    if len(set(_.columns)) != len(_.columns):
        print(_)

In [18]:
final_table = reduce(lambda a, b: pd.concat([a,b], ignore_index=True), filtered_df_list)

In [19]:
final_table = final_table.applymap(lambda e: np.nan if e=="" else e)
final_table = final_table.dropna(how='all')

In [53]:
len(set(final_table.병원명))

104

In [54]:
final_table.shape

(12064, 20)

In [55]:
final_table.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12064 entries, 0 to 12063
Data columns (total 20 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   최고비용       1593 non-null   object
 1   치료재료대포함여부  701 non-null    object
 2   구분         2974 non-null   object
 3   명칭         11550 non-null  object
 4   특이사항       2257 non-null   object
 5   분류         5358 non-null   object
 6   코드         5179 non-null   object
 7   최저비용       2401 non-null   object
 8   약제비포함여부    546 non-null    object
 9   비용         8520 non-null   object
 10  병원명        12064 non-null  object
 11  중분류        1290 non-null   object
 12  중복컬럼_1     1529 non-null   object
 13  소분류        221 non-null    object
 14  중복컬럼_2     294 non-null    object
 15  중복컬럼_3     288 non-null    object
 16  중복컬럼_4     90 non-null     object
 17  중복컬럼_5     90 non-null     object
 18  중복컬럼_6     90 non-null     object
 19  중복컬럼_7     87 non-null     object
dtypes: object(20)
memory usage: 1.9+ MB

In [56]:
final_table.columns

Index(['최고비용', '치료재료대포함여부', '구분', '명칭', '특이사항', '분류', '코드', '최저비용', '약제비포함여부',
       '비용', '병원명', '중분류', '중복컬럼_1', '소분류', '중복컬럼_2', '중복컬럼_3', '중복컬럼_4',
       '중복컬럼_5', '중복컬럼_6', '중복컬럼_7'],
      dtype='object')

In [57]:
sort_column = ['병원명', '명칭', '분류', '소분류', '중분류', '중복컬럼_1','중복컬럼_2', '비용', '최저비용', '최고비용', 
               '코드', '구분', '특이사항', '약제비포함여부',  '치료재료대포함여부']

In [58]:
len(set(final_table.병원명))

104

In [59]:
no_name = final_table[final_table["명칭"].isna()]

In [60]:
yes_name = final_table[~final_table["명칭"].isna()]

In [61]:
yes_cost = final_table.dropna(how='all', subset=['최고비용', '최저비용', '비용'])

In [62]:
yes_cost = yes_cost[sort_column]

In [63]:
len(set(yes_cost.병원명))

95

In [30]:
yes_cost = yes_cost[sort_column]

In [31]:
import time

In [37]:
time_str = time.strftime('%y%m%d', time.localtime(time.time()))

In [33]:
time.time()

1583999153.5485666

In [39]:
yes_cost.to_csv('yes_cost_{}.csv'.format(time_str), index=None)

In [342]:
yes_cost[yes_cost["명칭"].isnull()]

,병원명,명칭,명칭_2,분류,소분류,중분류,비용,최저비용,최고비용,코드,구분,특이사항,약제비포함여부,치료재료대포함여부
1000,고도일병원,NaN,NaN,자율신경검사,NaN,검사료,NaN,NaN,"50,000",FY894,NaN,NaN,NaN,NaN
1001,고도일병원,NaN,NaN,하지동맥 경화도검사,NaN,검사료,NaN,NaN,"50,000",EZ868,NaN,NaN,NaN,NaN
1005,고도일병원,NaN,NaN,디퓨젼 스캔,NaN,자기공명영상진단료(MRI),NaN,NaN,"100,000",NaN,NaN,급여인정기준외,NaN,NaN
1007,고도일병원,NaN,NaN,MRI(두경부),NaN,자기공명영상진단료(MRI),NaN,NaN,"450,000",HE403,NaN,급여인정기준외,NaN,NaN
1030,고도일병원,NaN,NaN,MRI (경부혈관),NaN,자기공명영상진단료(MRI),NaN,NaN,"450,000",NaN,NaN,급여인정기준외,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11222,전주우리병원,NaN,NaN,NaN,NaN,NaN,"880,000",NaN,NaN,NaN,NaN,1개,NaN,NaN
11223,전주우리병원,NaN,NaN,NaN,NaN,NaN,"1,550,000",NaN,NaN,NaN,NaN,1개,NaN,NaN
11224,전주우리병원,NaN,NaN,NaN,NaN,NaN,"650,000",NaN,NaN,NaN,NaN,1개,NaN,NaN
11225,전주우리병원,NaN,NaN,NaN,NaN,NaN,"800,000",NaN,NaN,NaN,NaN,1개,NaN,NaN
11226,전주우리병원,NaN,NaN,NaN,NaN,NaN,"1,800,000",NaN,NaN,NaN,NaN,1개,NaN,NaN

In [275]:
sum(a.isnull())

403

In [216]:
sort_column = ['병원명', '명칭', '명칭_2', '분류', '소분류', '중분류', '비용', '최저비용', '최고비용', 
               '코드', '구분', '특이사항', '약제비포함여부',  '치료재료대포함여부']

In [125]:
len(set(yes_cost.병원명))

90

In [123]:
no_cost = set(final_table.병원명).difference(set((yes_cost.병원명)))

In [124]:
len(set(yes_name.병원명)), len(set(yes_cost.병원명))

(95, 90)

In [ ]:
def get_non_payment_url(query):
    for i, _ in select_sub_page_by_hspt_name(NON_PAYMENT, query).iterrows():
        return _.url
def print_non_payment_url(query):
for i, _ in select_sub_page_by_hspt_name(NON_PAYMENT, query).iterrows():
    print(_.url)

In [112]:
print(yes_cost[yes_cost[sort_column].병원명 == '휴병원']["명칭"])

1305                      1인실
1306       체지방분석검사(일반)-Inbody
1307    Influenza A.B(간이법)-독감
1308                  족부 압력검사
1309                  동맥경화도검사
                ...
1619       향후 치료비 추정서(천만원 이상)
1620        일반구급차(기본요금)10Km이내
1621      일반구급차(10Km초과 후 Km당)
1622               구급차 의료인 동행
1623               진료기록영상(CD)
Name: 명칭, Length: 314, dtype: object

In [113]:
len(set(yes_cost.병원명))

90

In [ ]:
for q in list(no_cost):
    print_non_payment_url(q)

In [ ]:
len(set(final_table["병원명"]))

In [ ]:
visited.update(set(NON_PAYMENT.url))
NON_2 = get_sub_pages(NON_PAYMENT, visited)
NON_2_df = get_html_table(NON_2, 2)

In [ ]:
for idx, row in NON_2_df.iterrows():
    table_list["{}/{}".format(row.hspt_name, row.text)] = table_parsing(row.url)

In [ ]:
visited.update(set(NON_2_df.url))
NON_3 = get_sub_pages(NON_2_df, visited)
NON_3_df = get_html_table(NON_3, 3)

In [ ]:
visited.update(set(NON_3_df.url))
NON_4 = get_sub_pages(NON_3_df, visited)
NON_4_df = get_html_table(NON_4, 4)

In [ ]:
visited.update(set(NON_4_df.url))
NON_5 = get_sub_pages(NON_4_df, visited)
NON_5_df = get_html_table(NON_5, 5)

In [ ]:
visited.update(set(NON_5_df.url))
NON_6 = get_sub_pages(NON_5_df, visited)
NON_6_df = get_html_table(NON_6, 6)

In [ ]:
next_signs = ['>', '>>', '다음']

In [ ]:
NON_5_df

In [ ]:
for idx, row in non_2_df.iterrows():
    table_list[row.url] = table_parsing(row.url)

In [ ]:
len(table_list)